a{
    text-decoration: none;
    color: white;
}
button,
input{
    border: none;
    cursor: pointer;
    outline: none;
    color: white;
    background: transparent;
}
.fixed{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background-color: #202020;
}
.headerInfo{
    display: flex;
    align-items: center;
    position: relative;
    flex-shrink: 0;
}
.menubar{
    margin-right:1.5rem;
}
.logo{
    width: 21%;
    height: auto;
    margin-right: 0.3rem;
}
.titleLang{
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.6;
}
.search{
    flex-shrink: 0;
    width: 50%;
    position: relative;
}
.input{
    font-size: 16px;
    border:1px solid rgb(58, 56, 56);
    padding: 0.1rem 0.5rem;
    width: 60%;
    line-height:2;
}
.keyboard{
    position: absolute;
    font-size: 16px;
    transform: translate(-123%,43%);
}
.searchBtn{
    border:1px solid rgb(58, 56, 56);
    background: rgb(53, 51, 51);
    width: 10%;
    height: 37px;
    margin-right: 8px;
}
.searchIcon{
    width: 14px;
}
.microphone{
    font-size: 19px;
}
.info{
    flex-shrink: 0;
}
.info button{
    font-size: 1.7rem;
    margin-right: 2rem;
}

@media screen and (max-width: 600px) { 
    .info{
        display: none;
    }
    .searchBtn{
        width: 20%;
    }
    .microphone{
        display: none;
    }
    .keyboard{
        display: none;    
    }

}










